<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" width="2250" height="1500" href="/"><img loading="lazy" decoding="async" src="../assets/images/horizontal-logo.png" alt="logo"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/home">Home</a>
                    </li> 
                    <li>
                        <a href="/home#contact-1879">Contact</a>
                    </li>
                    <!-- <li>
                        <a href="/newsletter/">Newsletter</a>
                    </li> -->
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Software Consulting</li>
                    <li>Technical Roadmapping</li>
                    <li>Platform Selection</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">Finest City Digital</a>
        <span class="copyright">
            Copyright {% year %} - Present</span>
    </div>
</footer>
