---
title: 'Contact | Finest City Digital | San Diego, CA'
description: 'Get in touch with Finest City Digital for Fractional CTO services and tech consulting'
preloadImg: '/assets/images/feargal-walsh-headshot.jpeg'
permalink: 'contact/'
eleventyNavigation:
    key: Contact
    order: 600
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/san-diego-boardwalk-m.jpeg">
            <source media="(min-width: 601px)" srcset="/assets/images/san-diego-boardwalk.jpeg">
            <img aria-hidden="true" decoding="async" src="/assets/images/san-diego-boardwalk.jpeg" alt="san diego boardwalk" loading="eager" width="2250" height="1500">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Contact                    -->
    <!-- ============================================ -->

    <section id="contact-1879">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/feargal-walsh-headshot.jpeg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/feargal-walsh-headshot.jpeg">
                    <img loading="lazy" decoding="async" src="/assets/images/feargal-walsh-headshot.jpeg" alt="feargal-headshot" width="324" height="467">
                </picture>
                <img class="cs-graphic cs-brown" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/brown-lines.svg" alt="graphic" width="208" height="203" aria-hidden="true">
                <img class="cs-graphic cs-peach" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/peach-blob.svg" alt="graphic" width="56" height="42" aria-hidden="true">
                <img class="cs-graphic cs-beige" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-blob.svg" alt="graphic" width="379" height="394" aria-hidden="true">
                <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/leaf2.svg" alt="graphic" width="179" height="225" aria-hidden="true">
                <img class="cs-graphic cs-dots" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-dots.svg" alt="graphic" width="187" height="104" aria-hidden="true">
                <img class="cs-graphic cs-lines" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-lines.svg" alt="graphic" width="189" height="208" aria-hidden="true">
            </div>
            <div class="cs-content">
                <span class="cs-topper">Let's Chat</span>
                <h2 class="cs-title">We're here to listen</h2>
                <!--Form-->
                <form action="https://api.web3forms.com/submit" method="POST" class="cs-form" id="cs-form-1879" name="Contact Form">
                    <input type="hidden" name="access_key" value="9e868037-40bd-4aa8-be71-27300d4328a2">
                    <label class="cs-label">
                        First Name
                        <input class="cs-input" required type="text" id="name-1879" name="name" placeholder="John">
                    </label>
                    <label class="cs-label">
                        Last Name
                        <input class="cs-input" required type="text" id="lastname-1879" name="surname" placeholder="Moore">
                    </label>
                    <label class="cs-label">
                        Email
                        <input class="cs-input" required type="text" id="email-1879" name="email" placeholder="name@company.com">
                    </label>
                    <label class="cs-label">
                        Phone
                        <input class="cs-input" required type="text" id="phone-1879" name="phone" placeholder="+1 (206) 987-6543">
                    </label>
                    <label class="cs-label cs-message">
                        Message
                        <textarea class="cs-input cs-textarea" required name="Message" id="message-1879" placeholder="Hello, I am interested..."></textarea>
                    </label>
                    <button type="submit" class="cs-button-solid cs-submit">Send Message</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
